<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.zing.zalo.zalosdk.kotlin.core">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <provider
                android:name="com.zing.zalo.zalosdk.kotlin.core.module.ZaloSDKInitProvider"
                android:authorities="${applicationId}"
                android:exported="false"
                tools:replace="android:authorities" />

    </application>
</manifest>
